In [5]:
# conda install -c conda-forge google-cloud-bigquery 

# [to terminate] export GOOGLE_APPLICATION_CREDENTIALS="/YourPathToFileHere/YourDownloadedGoogleCloudFileHere.json"


import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="YourPathToFileHere/YourDownloadedGoogleCloudFileHere.json"

from google.cloud import bigquery

In [6]:
# Create a "Client" object
client = bigquery.Client()

In [7]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [8]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

comments
full
full_201510
stories

In [9]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

In [10]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ())]

In [11]:


# Preview the first five lines of the "full" table
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,Basic http caching and rate limiting should co...,None,olefoo,NaN,1234282696,2009-02-10 16:18:16+00:00,comment,475357,475218.0,NaN,None,None
1,None,None,"Like it or not, tech now has a huge, huge plac...",None,untog,NaN,1479339707,2016-11-16 23:41:47+00:00,comment,12972724,12972483.0,NaN,None,None
2,Twitter calls lawyer over hacking,http://news.bbc.co.uk/2/hi/technology/8153122.stm,None,None,IsaacSchlueter,1.0,1247761223,2009-07-16 16:20:23+00:00,story,708255,NaN,1.0,None,None
3,None,None,Right but the article is comparing the iPhone ...,None,dougp,NaN,1213283715,2008-06-12 15:15:15+00:00,comment,215996,215875.0,NaN,None,None
4,None,None,"Yes, but who tells you &quot;you can&#x27;t do...",None,rsc,NaN,1392340894,2014-02-14 01:21:34+00:00,comment,7236174,7235886.0,NaN,None,None

In [17]:


# Preview the first five entries in the "by" column of the "full" table
client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

                               title
0                               None
1                               None
2  Twitter calls lawyer over hacking
3                               None
4                               None